@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Application</h1>
    <p>This was an hours crash course tutorial courtesy of freecodecamp to build a simple crud app on asp.net.</p>
</div>
